@model DevFramework.Northwind.MvcWebUI.ProductListViewModel
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang=”en”>
<head>
    <meta charset=”UTF-8">
    <meta name=”viewport” content=”width =device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        @foreach (var product in Model.Products)
        {
            @product.ProductName
            <br>
        }
    </div>
</body>
</html>
